* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kelly Slab", sans-serif;
    padding-top: 60px;
    background-color: #d7c2af;
}




.custom-container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #A8B9C0;
    padding: 10px 0;
    position: fixed; /* Fixes the header at the top of the page */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* Ensures the header stays above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow for better visibility */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.contacts {
    display: flex;
    align-items: center;
}
/* The Dialog (background) */
.dialog {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Dialog Content */
.dialog-content {
    background-color: #b0bcc1; /* Same color as the card in the image */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 8px;
    text-align: center;
    color: #000; /* Text color */
    font-family: 'Arial', sans-serif; /* Replace with your preferred font */
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

/* Icon and Text Styling */
.dialog-body p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.5;
}

.dialog-body img {
    margin: 10px 0;
}

.dialog-body p img {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}
.contacts img {
    margin-right: 10px;
    height: 24px;
}

.main-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sidebar{
    width: 22%;
    margin-right: 50px;
}

.image-block{
    width: 78%;

}

.title{
    text-align: center;
    font-weight: bold;
}

img{
    max-width: 100%;
    height: auto;
}

.sidebar-card{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 252px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #A8B9C0;
}


.sidebar-image img:hover{
    transform: scale(1.3);
}

.second-part{
    margin-top: 50px;
}


swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 1;
    /*width: 48px;*/
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.autoplay-progress svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    fill: none;
    transform: rotate(-90deg);
}







.main-section{
    display: flex;
    flex-direction: column;
}

.two-section {
    display: flex;
}
.question-block {
    text-align: center;
    margin-top: 50px;
}
.title h3 {
    margin-bottom: 30px;
}
.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.one-line, .second-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.second-line{
    width: 50%;
}

.pay{
    width: 45%;
}

.brand{
    width: 45%;
}

.button-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, height 0.3s;
    overflow: hidden;
    position: relative;
}
.button-item:hover {
    background-color: #f0f0f0;
}
.button-title {
    display: block;
}
.button-content {
    font-family: "Inter", sans-serif;
    display: none;
    text-align: left;
    padding: 10px;
}

li{
    list-style-type: none;
}
.li-block{
    display: flex;
}

.question-text p{
    margin: 0;
}

.highlight{
    font-weight: bold;
    font-style: italic;
}

.question-text{
    margin-bottom: 20px;
}

.note{
    margin: 0;
}
.expanded .button-title {
    display: none;
}
.expanded .button-content {
    display: block;
}
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    font-family: "Inter", sans-serif;
}

.modal-content {
    background-color: #d7c2af;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 660px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
     justify-content: end;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.modal-content p {
    margin: 5px 0;
}

.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.qr-code img {
    width: 150px;
    height: 150px;
}

.qr-code p {
    font-size: 1.2em;
    margin-top: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.clients-block{
    margin-top: 50px;
}

.clients-section {
    text-align: center;
}

.clients-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.clients-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.logo-client img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.catalog-block{
    margin-top: 50px;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile {
    margin: 10px;
    width: 22%;
    height: 310px;
    perspective: 1000px;

}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: scale3d(0.9,0.9,1);
    transition: transform 0.5s cubic-bezier(.25,.75,.25,1.25);
    position: relative;
    box-shadow: 0 30px 50px -30px rgba(0,0,0,0.35);
    border-radius: 5px;
}

.tile:hover .card {
    transform: scale3d(1,1,1) rotateY(180deg);
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    flex-direction: column;
}

.front {
    background-color: #fff;
}

.back {
    background-color: #fff;
    transform: rotateY(180deg);
}
.contact-button{
    text-align: center;
}
.custom-button {
    background-color: #A9B9C0; /* Цвет фона */
    color: #000; /* Цвет текста */
    padding: 10px 20px;
    border: none;
    border-radius: 30px; /* Закругленные углы */
    cursor: pointer;
    text-align: center;
}

.custom-button:hover {
    background-color: #8FA0A7; /* Цвет при наведении */
}

a{
    text-decoration: none;
    color: black;
}

.front img {
    /*width: 100%;*/
    height: auto;
}

.back .description {
    padding: 20px;
}

.back h2 {
    margin: 0 0 10px 0;
}

.back p {
    margin: 0;
}

.color-selection {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 16px;
}

.color-selection .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.cup-image {
    /*width: 150px;*/
    height: auto;
}

.cup-info {
    margin-top: 16px;
}




.color-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.color-btn {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.cup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Fixed height for the cup container */
    margin-bottom: 10px;
}

.cup img {
    width: 100px; /* Fixed width */
    height: 150px; /* Fixed height */
    object-fit: cover; /* Ensures the image fits within the specified dimensions */
}



.tiles_slider-cup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile_slider-cup {
    margin: 10px;
    width: 22%;
    height: 310px;
    perspective: 1000px;
}

.card_slider-cup {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: scale3d(0.9,0.9,1);
    transition: transform 0.5s cubic-bezier(.25,.75,.25,1.25);
    position: relative;
    box-shadow: 0 30px 50px -30px rgba(0,0,0,0.35);
    border-radius: 5px;
}

.card_slider-cup.rotate_slider-cup {
    transform: scale3d(1,1,1) rotateY(180deg);
}



.side_slider-cup {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.front_slider-cup {
    background-color: #fff;
}

.back_slider-cup {
    background-color: #fff;
    transform: rotateY(180deg);
}
.card_slider-cup {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.slider_slider-cup {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.slider-btn_slider-cup {
    width: 22px;
    height: 22px;
    border: 1px solid #A8B9C0;
    background-color: white;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-btn_slider-cup:hover {
    transform: scale(1.1);
}

.cup-image_slider-cup {
    width: 80%;
    height: 150px;
    display: block;
    margin: 0 auto 10px;
    object-fit: cover;
}
.flex-block_slider-cup{
    display: flex;
    flex-direction: column;
}

.tiles_new-cup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tile_new-cup {
    margin: 10px;
    width: 22%;
    height: 310px;
    perspective: 1000px;
}

.card_new-cup {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: scale3d(0.9,0.9,1);
    transition: transform 0.5s cubic-bezier(.25,.75,.25,1.25);
    position: relative;
    box-shadow: 0 30px 50px -30px rgba(0,0,0,0.35);
    border-radius: 5px;
}

.card_new-cup.rotate_new-cup {
    transform: scale3d(1,1,1) rotateY(180deg);
}



.side_new-cup {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}

.front_new-cup {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.back_new-cup {
    background-color: #fff;
    transform: rotateY(180deg);
}
.card_new-cup {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.colors_new-cup {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.color-btn_new-cup {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-btn_new-cup:hover {
    transform: scale(1.1);
}

.cup-image_new-cup {
    width: 80%;
    height: 150px;
    display: block;
    margin: 0 auto 10px;
    object-fit: cover;
}
.flex-block_new-cup{
    display: flex;
    flex-direction: column;
}

.tile_hide{
    margin: 10px;
    width: 22%;
    height: 310px;
    perspective: 1000px;
    opacity: 0;
}

footer{
    background-color: #A8B9C0;
    width: 100%;
    padding-top: 50px;
}
.photo-cert{
    display: flex;
    width: 100%;
}
.text-footer{
    width: 40%;
}
.footer-block{
    display: flex;
    justify-content: space-between;
}


.myModal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 3;
    padding-top: 0; /* Убираем отступ сверху */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Отключаем прокрутку */
    background-color: rgba(0, 0, 0, 0.9);
}

/* Стили для изображения внутри модального окна */
.myModal-content {
    margin: auto;
    display: block;
    height: 100vh; /* Высота изображения равна высоте экрана */
    max-height: 100vh; /* Максимальная высота изображения — 100% высоты экрана */
    width: auto; /* Автоматическая ширина для сохранения пропорций */
    max-width: 100%; /* Максимальная ширина — 100%, чтобы не выходило за рамки экрана */
}

/* Закрывающий крестик */
.myClose {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.myClose:hover,
.myClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Для анимации модального окна (увеличение изображения) */
.myModal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.tiles-container {
    display: none; /* Скрыть блок по умолчанию */
}

.glassesTiles-container{
    display: none;
}

.accessoriesTiles-container{
    display: none;
}

/* Показать блок при нажатии на кнопку */
.tiles-container.show {
    display: flex;
    flex-direction: column;
}
.glassesTiles-container.show{
    display: flex;
    flex-direction: column;
}
.accessoriesTiles-container.show{
    display: flex;
    flex-direction: column;
}

.header-section{
    display: none;
}


@media (min-width: 769px) and (max-width: 1000px) {
    .sidebar{
        display: none;
    }
    .main-content{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .custom-container {
        max-width: 960px;
        margin: 0 auto;
    }

    .header-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #A9B9C0;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        color: #000;
        cursor: pointer; /* Сделать весь блок кликабельным */
        margin-bottom: 34px;
    }

    .tablet-version{
        margin-top: 34px;
    }

    .dropdown-icon {
        width: 15px;
        height: 15px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        transform: rotate(45deg);
    }
    .tile{
        width: 30%;
    }

    .tile_new-cup{
        width: 30%;
    }

    .tile_slider-cup{
        width: 30%;
    }

    .tile_hide{
        width: 30%;
    }
    .header-section span {
        margin: 0;
    }

    .header-section button {
        background: none;
        border: none;
        padding: 0;
        font: inherit;
        color: inherit;
        cursor: pointer;
    }
    .catalog-block{
        display: none;
    }
}

@media (min-width: 417px) and (max-width: 768px) {
    .sidebar{
        display: none;
    }
    .custom-container {
        max-width: 340px;
        margin: 0 auto;
    }
    .buttons-container {
        display: block;
    }
    .one-line, .second-line{
        display: block;
        width: 100%;
    }
    .pay{
        width: 100%;
    }
    .brand{
        width: 100%;
    }
    .main-content{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .tile{
        width: 30%;
    }

    .tile_new-cup{
        width: 30%;
    }

    .tile_slider-cup{
        width: 30%;
    }

    .tile_hide{
        width: 30%;
    }

}

@media (min-width: 1px) and (max-width: 416px) {
    .sidebar{
        display: none;
    }

    .main-content{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .custom-container {
        max-width: 340px;
        margin: 0 auto;
    }
    .tile{
        width: 80%;
    }

    .tile_new-cup{
        width: 80%;
    }

    .tile_slider-cup{
        width: 80%;
    }

    .tile_hide{
        width: 80%;
    }
    .buttons-container {
        display: block;
    }
    .one-line, .second-line{
        display: block;
        width: 100%;
    }
    .pay{
        width: 100%;
    }
    .brand{
        width: 100%;
    }

    .header-section span {
        margin: 0;
    }

    .header-section button {
        background: none;
        border: none;
        padding: 0;
        font: inherit;
        color: inherit;
        cursor: pointer;
    }
    .catalog-block{
        display: none;
    }
    .header-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #A9B9C0;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        color: #000;
        cursor: pointer; /* Сделать весь блок кликабельным */
        margin-bottom: 34px;
    }

    .tablet-version{
        margin-top: 34px;
    }

    .dropdown-icon {
        width: 15px;
        height: 15px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        transform: rotate(45deg);
    }

    .image-block{
        width: 100%;
    }

    .tile_hide{
        display: none;
    }
    .tiles{
        justify-content: center;
    }

    footer{
        margin-top: 40px;
    }
    .footer-block{
        display: block;
    }
    .text-footer{
        width: 100%;
    }
    .text-footer p{
        margin-bottom: 0;
    }
}
