* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kelly Slab", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d7c2af;
}

.custom-container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #A8B9C0;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.contacts {
    display: flex;
    align-items: center;
}

.contacts img {
    margin-right: 10px;
    height: 24px;
}

.main-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 830px;
}

.sidebar{
    width: 22%;
    margin-right: 50px;
    height: 830px;

}

.image-block{
    width: 78%;

}

.title{
    text-align: center;
    font-weight: bold;
}

img{
    max-width: 100%;
    height: auto;
}

.sidebar-card{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 220px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #A8B9C0;
}

.sidebar-image img:hover{
    transform: scale(1.3);
}

.block{
    display: flex;
}

.image-row{
    display: flex;
}
.image-block img{
    margin: 2px;
}

.background-container {
    position: relative;
    height: 500px;
    background: url('../assets/bg-coffee.png') no-repeat center center;
    background-size: cover;
    margin-top: 70px;
}

.overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Adjust color as needed */
    padding: 20px;
}

.section{
    width: 500px;
}

.main-section{
    display: flex;
    flex-direction: column;
}

.two-section{
    display: flex;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.button-item {
    background-color: white;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #FAEBD7;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.modal-content p {
    margin: 5px 0;
}

.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.qr-code img {
    width: 150px;
    height: 150px;
}

.qr-code p {
    font-size: 1.2em;
    margin-top: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.clients-section {
    text-align: center;
}

.clients-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.clients-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.logo-client img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #000;
}


.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile {
    margin: 10px;
    width: 250px;
    height: 310px;
    perspective: 1000px;

}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: scale3d(0.9,0.9,1);
    transition: transform 0.5s cubic-bezier(.25,.75,.25,1.25);
    position: relative;
    box-shadow: 0px 30px 50px -30px rgba(0,0,0,0.35);
    border-radius: 5px;
}

.tile:hover .card {
    transform: scale3d(1,1,1) rotateY(180deg);
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}

.front {
    background-color: #fff;
}

.back {
    background-color: #fff;
    transform: rotateY(180deg);
}
.contact-button{
    text-align: center;
}

.contact-button a{
    text-decoration: none;
    color: black;
}

.front img {
    width: 100%;
    height: auto;
}

.back .description {
    padding: 20px;
}

.back h2 {
    margin: 0 0 10px 0;
}

.back p {
    margin: 0;
}

.color-selection {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 16px;
}

.color-selection .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.cup-image {
    width: 150px;
    height: auto;
}

.cup-info {
    margin-top: 16px;
}